table {
    width: 100%;
    
  }


 
  ion-icon {
    color: #3880ff;
    font-size: 30px;
  }

  .mat-header-cell {
    flex-direction: column;
    justify-content: center;
  }

  .mat-cell {
    text-align: center;
    justify-content:center;
  }