table {
    width: 100%;
    align-items: center;
  }

.boton {
  color: 2dd36f;
  
}


  ion-icon {
    color: #3880ff;
    font-size: 30px;
    cursor: pointer;
  }

  .mat-header-cell {
    flex-direction: column;
    justify-content: center;
  }

  .mat-cell {
    text-align: center;
    justify-content:center;
  }

  ion-col {
    text-align: right;
  }



