
ion-col{
    ion-input{
       border: solid 1px rgb(148, 179, 236);
       width: 50%;
       height: 25px;
    }
 }

 .label {
     text-align: right;
     padding-top: 30px;
 }

 .label1 {
    text-align: right;
   
}

ion-row {
    margin-top: 10px;
}
 
mat-form-field.mat-form-field {
    font-size: 12px;
  }


  .mainLabel {
      color: red;
      font-size: 20px;
      
  }

  .mainRow {
      margin-bottom: 10px;
      margin-top: 23px;
  }
